// 主色
$primary: #2d8cf0;
$primary-light: #5cadff;
$primary-dark: #3091f2;

// 辅助色
$success: #19be6b;
$warning: #ff9900;
$danger: #ed3f14;
$info: #00BCD4;

// 文本颜色
$font-title: #1c2438;
$font-primary: #495060;
$font-light: #80848f;
$font-lighter: #bbbec4;

$gray: #D3DCE6;
$gray-light: #E5E9F2;
$gray-extra: #EFF2F7;

$white: #ffffff;
$white-dark: #F9FAFC;


// 页面背景色
$page_bg: #f8f8f9;


// 边框颜色
$border: #dddee1;
$divider: #e9eaec;


// 其它颜色
$red-1: #d9534f;
$red-2: #FF0000;

$blue-1: #20A0FF;
$blue-2: #58B7FF;
$blue-3: #58B7FF;
$blue-dark-1: #0066CC;
$blue-dark-2: #0066FF;

$orange-1: #FF5722;
$orange-2: #FF6633;
$orange-3: #E27A3F;
$orange-4: #edce8c;

$green-1: #18BA1D;
$green-2: #339900;
$green-3: #209C83;
$green-4: #339966;

$pink-1: #FF6666;
$pink-2: #FF3366;

$yellow-1: #f0ad4e;
$yellow-2: #FF9933;

$purple: #CC33FF;

$transparent: rgba(0,0,0,0);
