@mixin btn-size($padding-y: 8px, $padding-x: 12px, $line-height: 1.5) {
  padding: rem($padding-y) rem($padding-x);
  line-height: $line-height;
  height: auto;
}

.btn {
  font-size: $font-size;
  border-radius: $border-radius;
  min-width: rem(88px);
  background: $white none;
  box-shadow: none;
  color: $font-primary;
  @include border();
  @include ripple();
  @include btn-size();
}


// 按钮样式
// --------------------------------------------------
@mixin btn-color($bg: $primary) {
  background-color: $bg;
  border-color: $bg !important;
  color: $white;
}

.btn-primary { @include btn-color($primary); }
.btn-success { @include btn-color($success); }
.btn-danger { @include btn-color($danger); }
.btn-info { @include btn-color($info); }
.btn-warn { @include btn-color($warning); }
.btn-link {
  background-color: $white;
  border-color: $white;
  color: $primary-light;
}

.btn:disabled {
  @include opacity(0.6);
}

// 按钮大小
// --------------------------------------------------

.btn-sm {
  font-size: $font-size-s;
  @include btn-size(5px, 10px);
  min-width: 0;
}
.btn-xs{
  font-size: $font-size-s;
  @include btn-size(1px, 5px);
  min-width: 0;
}
.btn-lg{
  font-size: $font-size-m;
  @include btn-size(10px, 16px, 1.3)
}

.btn-block{
  display: block;
  width: 100%;
}
